.navbar {
    background-color: #333333;
    overflow: hidden;
}

.navbar a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}

.navbar a:hover{
    background-color: rgb(54, 95, 138);
    color: black;
}

.navbar a.active {
    background-color: #4caf50;
    color: white;
}

div.img_disp{

    margin: 5px;
    border: 1px solid #cccccc;
    float: left;
    width: 180px;
}

div.img_disp img{
    width: 100%;
    height: auto;
}

div.img_disp:hover {
    border: 1px solid #777;
}

div.vid_disp{
    margin: 5px;
    float: left;
    padding-left: 33%;
}

#tentry{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

#tentry td, #tentry th {
    
    border: 1px solid #9c9595;
    padding: 6px;
}
#tentry tr:nth-child(even){
    background-color: #f2f2f2;
}

#tentry tr:hover {
    background-color: #ddd;
}

#tentry th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

.rad-choices input[type="radio"] {
    cursor: pointer;
}
  
.rad-choices label {
    font-size: 16px;
    cursor: pointer;
}

